
<header class="cabecera">

    <div class="info">
        <span class="rojo negrita">IP: </span>
        <span name = "ip" style="font-weight: bold; " th:text="${ip}"/>
        <br>
        <span class="rojo negrita">Navegador: </span>
        <span name = "User-Agent" style="font-weight: bold;" th:text="${User}"}/>

    </div>

    <div class="info">
        <span class="rojo negrita"> Bienvenido: </span>
        <span name = "user" style="font-weight: bold;" th:text="${nombreUsuario}"/>
        <br>
        <span name = "mensaje" style="font-weight: bold;" th:text="${bienvenida}"}/>
        <span class="rojo negrita"> Veces que ha visitado la pagina: </span>
        <span name = "mensaje" style="font-weight: bold;" th:text="${contador}"}/>


    </div>

        <a class="left enlace" th:href="@{/acceso/logout}"><img th:src="@{/img/exit.png}" width="60" height="50"></a>

</header>
